<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>DinkyDash</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta http-equiv="refresh" content="120" > <!-- Refresh every 2 minutes -->
  <link rel="apple-touch-icon" href="icon.png">
  <link rel="stylesheet" href="https://bootswatch.com/5/quartz/bootstrap.min.css">

  <style>

    .big-emoji {
      font-size: 60px;
    }

    .card-body {
      font-size: 40px;
    }
  </style>
</head>

<body>
<!--<div class="px-4 text-center">-->
<!--  <h4 class="display-5 fw-bold">DinkyDash: the emoji dashboard</h4>-->
<!--</div>-->

<div id="app" class="p-1 container text-center">
  {{ message }}
  <div class="row row-cols-4">
    <! -- Begin recurring -->
    <div v-for="item in this.recurring" class="col">
      <div class="card mb-3">
        <div class="card-header">
          <div class="big-emoji">{{ item.title }}</div>
        </div>
        <div class="card-body text-primary">
          <img :src="get_recurring(item.slots)" class="img-thumbnail" width="100">
        </div>
      </div>
    </div>
    <!-- Begin countdowns -->
    <div v-for="(countdown, index) in get_sorted_countdowns()" class="col">
      <div class="card mb-3">
        <div class="card-header">
          <img v-if="countdown.image" :src="countdown.image" class="img-thumbnail" width="100">
          <span class="big-emoji">{{countdown.title}}</span>
        </div>
        <div class="card-body">
          🛏 {{ calculate_days_remaining(countdown.date) }}
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script src="https://unpkg.com/vue@next"></script>
<script src="app.js"></script>
</html>
