<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}DinkyDash{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta property="og:title" content="{% block og_title %}Dinky Dash: the emoji dashboard for kids{% endblock %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dinkydash.co/">
    <meta property="og:image" content="https://dinkydash.co/images/mockup.png">
    <link rel="stylesheet" href="https://bootswatch.com/5/quartz/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <style>
        body {
            color: #212529; /* Dark gray, almost black */
        }

        h1, h2, h3, h4, h5 {
            font-family: 'Luckiest Guy', cursive;
        }

        .content-wrapper {
            background-color: #FFFFFF;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    </style>
    {% block extra_head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">DinkyDash</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/">About</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<main>
    {% block content %}{% endblock %}
</main>

<footer class="text-bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p>&copy; 2024 DinkyDash. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <a href="https://casparwre.de" class="text-bg-light">Created by Caspar</a>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Fathom - beautiful, simple analytics -->
<script src="https://cdn.usefathom.com/script.js" data-site="HLVHPKAZ" defer></script>
<!-- / Fathom -->
{% block extra_js %}{% endblock %}
</body>
</html>